/*
	
	
// ==========================================================================
// Global Styles
// ==========================================================================


*/

* {
	box-sizing: border-box;
}

@font-face {
  font-family: 'pacificoregular';
  src: url("fonts/pacifico-webfont.eot");
  src: url("fonts/pacifico-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/pacifico-webfont.woff2") format("woff2"), url("fonts/pacifico-webfont.woff") format("woff"), url("fonts/pacifico-webfont.ttf") format("truetype"), url("fonts/pacifico-webfont.svg#pacificoregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

body {
	font-family: 'PT Sans Narrow', sans-serif;
	color: $mainFontColor;
	background-color: $mainBackgroundColor;
}

.wrapper {
	max-width: 1170px;
	height: inherit;
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 10px;
}