/*
	
	
// ==========================================================================
// Global Styles
// ==========================================================================


*/

* {
	box-sizing: border-box;
}

@font-face {
  font-family: 'pacificoregular';
  src: url("fonts/pacifico-webfont.eot");
  src: url("fonts/pacifico-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/pacifico-webfont.woff2") format("woff2"), url("fonts/pacifico-webfont.woff") format("woff"), url("fonts/pacifico-webfont.ttf") format("truetype"), url("fonts/pacifico-webfont.svg#pacificoregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

body {
	font-family: 'PT Sans Narrow', sans-serif;
	color: $mainFontColor;
	background-color: $mainBackgroundColor;
	display: flex;
    flex-direction: column;
    font-size: 18px;
    line-height: 1.5em;
}

a:link {
	text-decoration: none;
    color: #d91122;
    transition: all 0.2s linear;
}

a:visited {
	color: #d91122;
}

a:active {
	color: #d91122;
}

a:hover {
	background-color: #f7cacc;
	text-decoration: underline;
}

.title {
	font-family: 'Homemade Apple', cursive;
	font-size: 1.35em;
	padding: 30px 0px 30px 0px;

	@mixin mediumScreen {
		font-size: 2.4em;
		padding: 40px;
	}

	&--white {
		font-family: 'Homemade Apple', cursive;
		font-size: 1.35em;
		padding: 30px 0px 30px 0px;
		color: #fff;
		text-align: center;

		@mixin mediumScreen {
			font-size: 2.4em;
			padding: 40px;
		}
	}
}