/*
	
	
// ==========================================================================
// Grid Styles
// ==========================================================================


*/

.grid {
	display: flex;
	flex-direction: row;
	max-width: 96%;
	height: inherit;
	margin: 0 auto;
	justify-content: space-between;
	align-items: center;

	@mixin largeScreen {
		max-width: 1170px;
	}

	&__cell {
		padding: 20px;

		&--full {
			display: flex;
			flex: 1 100%;
		}

		&--half {
			flex: 1;
			flex-basis: 100%;

			@mixin mediumScreen {
				max-width: 50%;
				flex: 1;
			}
		}

		&--third {
			margin-bottom: 20px;
			width: 100%;

			@mixin mediumScreen {
				margin-bottom: 0;
				width: 33.3333%;
				margin: 1%;
			}

			@mixin largeScreen {
				margin: 1.69%;
			}
		}

		&--quarter {
			width: 25%;
		}

		&--center {
			justify-content: center;
		}

		&--no-padding {
			padding: 0;
		}
	}

	&--gutter {
		margin: 1em 0 0 1em;
	}

	&--wrap {
		flex-wrap: wrap;

		@mixin mediumScreen {
			flex-wrap: nowrap;
		}
	}

	&--gutter-bottom {
		margin-bottom: 80px;

		@mixin mediumScreen {
			margin-bottom: 160px;
		}
	}
}