/*
	
	
// ==========================================================================
// Grid Styles
// ==========================================================================


*/

.grid {
	display: flex;
	flex-direction: row;
	max-width: 100%;
	height: inherit;
	margin: 0 auto;
	justify-content: space-between;
	align-items: center;

	@mixin largeScreen {
		max-width: 1170px;
	}

	&__cell {
		margin: 12px;

		&--full {
			display: flex;
			flex: 1 100%;
		}

		&--half {
			flex: 1;
			flex-basis: 100%;

			@mixin mediumScreen {
				max-width: 50%;
				flex: 1;
			}
		}

		&--third {
			flex: 1;
			flex-basis: 100%;

			@mixin mediumScreen {
				flex: 1;
			}
		}

		&--quarter {
			width: 25%;
		}

		&--center {
			justify-content: center;
		}
	}

	&--gutter {
		margin: 1em 0 0 1em;
	}

	&--wrap {
		flex-wrap: wrap;

		@mixin mediumScreen {
			flex-wrap: nowrap;
		}
	}

	&--gutter-bottom {
		margin-bottom: 80px;

		@mixin mediumScreen {
			margin-bottom: 160px;
		}
	}

	&--top {
		align-items: flex-start;
	}
}