/*
	
	
// ==========================================================================
// Header Styles
// ==========================================================================


*/

 .header {
 	position: fixed;
 	top: 0;
 	background-color: $mainRedColor;
 	height: 80px;
 	width: 100%;
	color: #fff;
	z-index: 3;

 	&__logo {
 		grid-column: 1 / 2;
 		grid-row: 1;
 		height: 80px;
 		font-size: 2.2rem;
 		font-family: 'pacificoregular';
 		padding-top: 20px;
 		padding-left: 10px;

 		@mixin mediumScreen {
 			padding-top: 4px;
 			padding-left: 15px; 
 			font-size: 3.45rem;
 			letter-spacing: -0.0099em;
 		}

 		@mixin largeScreen {
 			padding-left: 0;
 		}
 	}

 	&__tagline {
 		display: none;

 		@mixin mediumScreen {
 			display: block;
 			margin-top: -5px;
 			margin-left: 50px;
 			font-family: "PT Sans Narrow", sans-serif;
 			font-size: .75rem;
 			letter-spacing: 0.12em;
 		}
 	}

 	&__button {
 		grid-column: 3 / 3;
 		grid-row: 1;
 		align-self: center;
 		justify-self: end;
 		font-family: "Lato", sans-serif;
 		font-size: 1.5rem;
 		cursor: pointer;
 		border: 0;
 		background-color: $mainRedColor;
 		color: #fff;
 		padding: 7px;
 		height: 44px;
 		width: 40px;
 		margin-right: 5px;

 		@mixin mediumScreen {
 			font-size: .85rem;
 			margin-right: 15px;
 			border: 1px solid rgba(230, 230, 230, 0.3);
 			height: 44px;
 			width: 181px;
 		}

 		@mixin largeScreen {
 			margin-right: 0;
 		}

 		&:focus {
 			outline: 1px dotted #fff;
 		}

 		&:hover {
 			color: #d91122;
 			border-color: #fff;
 			background-color: #fff;
 		}

 		&__text {
 			display: none;

 			@mixin mediumScreen {
 				display: inline-block;
 			}
 		}

 		&__hamburger:after {
 			display: inline-block;
 			font-family: FontAwesome;
 			font-size: .9em;
 			content: '\f0c9';
 			font-weight: normal;
 			font-style: normal;
 			text-decoration: inherit;

 			@mixin mediumScreen {
 				display: none;
 			}
 		}

 		&--on:after {
 			display: none;

 			@mixin mediumScreen {
 				font-family: FontAwesome;
 				font-size: .9em;
 				font-weight: normal;
 				font-style: normal;
 				display: inline-block;
 				padding-left: 3px;
 				content: '\f077';
 				text-decoration: inherit;
 			}
 			
 		}

 		&--off:after {
 			display: none;

 			@mixin mediumScreen {
 				font-family: FontAwesome;
 				font-size: .9em;
 				font-weight: normal;
 				font-style: normal;
 				display: inline-block;
 				padding-left: 3px;
 				content: '\f078';
 				text-decoration: inherit;
 			}
 			
 		}
 	}
 }