/*
	
	
// ==========================================================================
// Header Styles
// ==========================================================================


*/

 .header {
 	position: fixed;
 	top: 0;
 	background-color: $mainRedColor;
 	height: 80px;
 	width: 100%;
	color: #fff;

 	&__logo {
 		grid-column: 1 / 2;
 		grid-row: 1;
 		height: 80px;
 		padding-top: 4px;
 		font-size: 2rem;
 		font-family: 'pacificoregular';

 		@mixin mediumScreen {
 			font-size: 3.45rem;
 			letter-spacing: -0.0099em;
 		}
 	}

 	&__tagline {
 		display: none;

 		@mixin mediumScreen {
 			display: block;
 			margin-top: -5px;
 			margin-left: 50px;
 			font-family: "PT Sans Narrow", sans-serif;
 			font-size: .75rem;
 			letter-spacing: 0.12em;
 		}
 	}

 	&__button {
 		grid-column: 3 / 3;
 		grid-row: 1;
 		align-self: center;
 		justify-self: end;
 		height: 44px;
 		width: 181px;
 		font-family: "Lato", sans-serif;
 		font-size: .85rem;
 		cursor: pointer;
 		border: 1px solid rgba(230, 230, 230, 0.3);
 		background-color: $mainRedColor;
 		color: #fff;
 		padding: 7px;

 		&:focus {
 			outline: 1px dotted #fff;
 		}

 		&:hover {
 			color: #d91122;
 			border-color: #fff;
 			background-color: #fff;
 		}

 		&__text {
 			display: none;

 			@mixin mediumScreen {
 				display: inline-block;
 			}
 		}

 		&--on:after {
 			font-family: FontAwesome;
 			font-size: .9em;
 			font-weight: normal;
 			font-style: normal;
 			display: inline-block;
 			padding-left: 3px;
 			content: '\f077';
 			text-decoration: inherit;
 		}

 		&--off:after {
 			font-family: FontAwesome;
 			font-size: .9em;
 			font-weight: normal;
 			font-style: normal;
 			display: inline-block;
 			padding-left: 3px;
 			content: '\f078';
 			text-decoration: inherit;
 		}
 	}
 }