/*
	
	
// ==========================================================================
// Intro Styles
// ==========================================================================


*/

.intro {
	margin-top: 80px;

	@mixin mediumScreen {
		margin-top: 0;
	}

	&__title {
		font-family: 'Homemade Apple', cursive;
		font-size: 1.35em;
		padding: 30px 0px 30px 0px;

		@mixin mediumScreen {
			font-size: 2.4em;
			padding: 40px;
		}
	}

	&__content {
		font-size: 1em;
		line-height: 1.7em;

		@mixin largeScreen {
			font-size: 1.1em;
			line-height: 1.6em;
		}
	}

	&__video iframe {
		vertical-align: top;
		border: 0;
		height: 300px;
		min-width: 100%;
	}
}