/*
	
	
// ==========================================================================
// Intro Styles
// ==========================================================================


*/

.intro {
	margin-top: 80px;

	@mixin mediumScreen {
		margin-top: 0;
	}

	&__content {
		font-size: 1em;
		line-height: 1.7em;

		@mixin largeScreen {
			font-size: 1.1em;
			line-height: 1.6em;
		}
	}

	&__video iframe {
		vertical-align: top;
		border: 0;
		height: 300px;
		min-width: 95%;
	}
}