/*
	
	
// ==========================================================================
// Large Hero Styles
// ==========================================================================


*/

.large-hero {
	background-image: url("../../assets/images/large-hero--small.jpg");
	border-image: url("../../assets/images/large-hero__border.png") 0 0 7 fill;
	border-image-repeat: repeat repeat;
	border-width: 0 0 7px;
	border-style: solid;
	height: 550px;

	@mixin mediumScreen {
		height: 600px;
		background-image: url("../../assets/images/large-hero--medium.jpg");
	}

	@mixin largeScreen {
		background-image: url("../../assets/images/large-hero--large.jpg");
		margin-top: 80px;
		transform: translateY(-60px);
	}

	&__image {
		display: block;
		max-width: 100%;
		min-width: 100%;
	}

	&__content {
		color: #fff;
		margin-top: -90px;
		height: 370px;
		font-size: 1em;
		line-height: 1.7em;

		@mixin mediumScreen {
			margin-top: 40px;
			height: 450px;
		}

		@mixin largeScreen {
			margin-top: 60px;
			height: 500px;
			font-size: 1.22em;
			line-height: 1.6em;
		}

		&__title {
			font-size: 1.3em;
			font-weight: 800;
			line-height: 1.1em;
			display: inline-block;
			margin-bottom: 3px;

			@mixin mediumScreen {
				font-size: 1.45em;
			}

			@mixin largeScreen {
				font-size: 1.8em;
			}
		}
	}

	&__ship {
		float: right;
		width: 314px;
		height: 153px;
		background-image: url("../../assets/images/large-hero__rocket--small@2x.png");
		background-repeat: no-repeat;
		background-size: 314px 153px;
		transform: translateY(-80px);

		@mixin mediumScreen {
			width: 446px;
			height: 188px;
			background-image: url("../../assets/images/large-hero__rocket--medium@2x.png");
			background-size: 446px 188px;
			transform: translateY(-80px);
		}

		@mixin largeScreen {
			width: 560px;
			height: 267px;
			background-image: url("../../assets/images/large-hero__rocket--large@2x.png");
			background-size: 560px 267px;
			transform: translateY(-100px);
		}
	}

	&--hide {
		margin-top: 80px;
	}
}