/*
	
	
// ==========================================================================
// Menu Styles
// ==========================================================================


*/

.menu {
	top: 0;
	font-family: 'Lato', sans-serif;
	margin-top: 80px;
	width: 100%;
	height: 100%;
	background-color: $mainBlueColor;
	color: rgba(255, 255, 255, 0);
	font-size: 1rem;
	transition: all .4s ease-out;
	overflow: hidden;

	@mixin mediumScreen {
		position: fixed;
		overflow: initial;
		height: 60px;
		font-size: 0.95rem;
	}
	
	&__list__first {
		padding-top: 5px;
		padding-left: 20px;
 		grid-row: 1;
 		height: inherit;
		cursor: pointer;
		list-style-type: none;
		transform: translateY(-20px);
		transition: all .4s ease;

		@mixin mediumScreen {
			margin: 0;
			grid-column: 1 / 3;
			padding-top: 25px;
			align-self: center;
			display: inline-flex;
		}
	}

	& li:hover {
		color: $mainGreenColor;
	}

	& ul li {
		padding-bottom: 20px;

		@mixin mediumScreen {
			padding-bottom: 0;
			padding-right: 48px;
		}
	}

	& ul ul {
		display: block;
		background-color: $mainLightBlueColor;
		min-width: 800px;
		margin-left: -25px;
		margin-top: 10px;

		@mixin mediumScreen {
			position: absolute;
			display: none;
			margin: 17px auto;
			border-radius: 0 10px;
			width: inherit;
			min-width: 3000px;
			margin-left: -25px;
			text-align: left;
		}
	}

	& ul li:hover > ul {
		color: rgba(255, 255, 255, 0.3);
		display: block;
	}

	& ul ul li {
		list-style-type: none;
		padding: 15px 10px 15px 0;

		@mixin mediumScreen {
			display: inline-flex;
			cursor: pointer;
			padding: 15px 20px 15px 0;
		}
	}

	& ul ul li:after {
		content: none;
		margin-left: 0;

		@mixin mediumScreen {
			font-size: .8rem;
			font-weight: normal;
			font-style: normal;
			display: inline-block;
			margin-left: 20px;
			padding: 0;
			content: '|';
			text-decoration: inherit;
			color: rgba(251, 248, 248, 0.2);
		}
	}

	& ul ul li:last-child:after {
		content: none;
	}

	&__arrow:after {
		content: none;

		@mixin mediumScreen {
			font-family: FontAwesome;
			font-size: .4em;
			font-weight: normal;
			font-style: normal;
			display: inline-block;
			margin-left: 8px;
			content: '\f078';
			text-decoration: inherit;
		}
	}

	&--hidden {
		transition: all .4s ease;
		margin-top: -800px;

		@mixin mediumScreen {
			margin-top: -60px;
		}
	}

	&--down {
		transition: all .4s ease;
		transform: translateY(0);
		color: #fff;
	}
}