/*
	
	
// ==========================================================================
// Menu Styles
// ==========================================================================


*/

.menu {
	position: fixed;
	top: 0;
	font-family: 'Lato', sans-serif;
	margin-top: 80px;
	width: 100%;
	height: 60px;
	background-color: $mainBlueColor;
	color: #fff;
	font-size: 0.95rem;
	transition: all .4s ease;

	&__list__first {
		margin: 0;
		padding-top: 25px;
		padding-left: 20px; 
		grid-column: 1 / 3;
 		grid-row: 1;
 		height: inherit;
 		align-self: center;
		list-style-type: none;
		display: inline-flex;
		cursor: pointer;
	}

	& li:hover {
		color: $mainGreenColor;
	}

	& ul li {
		padding-right: 48px;
	}

	& ul ul {
		position: absolute;
		display: none;
		margin: 17px auto;
		background-color: $mainLightBlueColor;
		border-radius: 0 10px;
		width: inherit;
		min-width: 3000px;
		margin-left: -25px;
		text-align: left;
	}

	& ul li:hover > ul {
		color: rgba(255, 255, 255, 0.3);
		display: block;
	}

	& ul ul li {
		list-style-type: none;
		display: inline-flex;
		cursor: pointer;
		padding: 15px 40px 15px 0;
	}

	&__arrow:after {
		font-family: FontAwesome;
		font-size: .4em;
		font-weight: normal;
		font-style: normal;
		display: inline-block;
		margin-left: 8px;
		content: '\f078';
		text-decoration: inherit;
	}

	&--hidden {
		margin-top: -60px;
		transition: all .4s ease;
	}
}