/*
	
	
// ==========================================================================
// Teachers Styles
// ==========================================================================


*/

.teachers {
	background-image: url("../../assets/images/teachers__bg.jpg");
	background-attachment: fixed;
	padding: 80px 0 40px 0;
	overflow: hidden;
	color: #fff;

	&__card {
		display: inline-block;
		width: 1200px;
		height: 800px;
		text-align: center;
		color: #fff;

		&__container { /* THIS SHOULD HOLD ALL OF THE TEACHERS */
			height: 800px;
			width: 6100px;
		}

		&__window { /* THIS IS THE WINDOW WHERE ALL OF THE TEACHERS WILL BE VISIBLE*/
			margin: auto;
			width: 1200px;
			height: 800px;
			overflow: hidden;
		}

		&__image {
			display: block;
			width: 250px;
			height: 250px;
			border: 5px solid #fff;
			margin: 0 auto 20px auto;
			border-radius: 50%;
			overflow: hidden;

			@mixin mediumScreen {
				width: 300px;
				height: 300px;
			}
		}

		&__name {
			font-weight: 800;
			font-size: 1.8em;
			padding-bottom: 10px;
		}

		&__title {
			font-size: 1.5em;
			padding-bottom: 10px;
		}

		&__content {
			margin: 10px auto;
			padding: 30px 120px 30px 120px;
			width: 90%;
			background-color: rgba(255, 255, 255, 0.2);
			font-size: 1.3em;
			line-height: 1.5em;
		}
	}

	& a:link {
		text-decoration: none;
    	color: #87bf7e;
    	transition: all 0.2s linear;
	}

    & a:visited {
		color: #87bf7e;
	}

	& a:active {
		color: #87bf7e;
	}

	& a:hover {
		background-color: transparent;
		text-decoration: underline;
	}
}

.teacherLeft:after {
	position: absolute;
	left: 25%;
	font-family: FontAwesome;
	font-size: 2.4em;
	font-weight: normal;
	font-style: normal;
	display: inline-block;
	content: '\f053';
	text-decoration: inherit;
	cursor: pointer;
	transform: translateY(150px);
	z-index: 2;
}

.teacherRight:after {
	position: absolute;
	font-family: FontAwesome;
	font-size: 2.4em;
	font-weight: normal;
	font-style: normal;
	display: inline-block;
	content: '\f054';
	text-decoration: inherit;
	cursor: pointer;
	transform: translateY(150px);
	z-index: 2;
	right: 25%;
}