/*
	
	
// ==========================================================================
// Widgets Styles
// ==========================================================================


*/

.widgets {

	&__signup {
		margin: 40px 0 40px 0;

		&__form {
			max-width: 90%;
			text-align: center;
			margin: 0 auto;

			@mixin mediumScreen {
				min-width: 90%;
			}

			@mixin largeScreen {
				min-width: 100%;
			}
		}

		&__fieldset {
			padding: 10px 10px 10px 10px;
			border: 1px dashed rgba(0, 0, 0, 0.2);

			@mixin mediumScreen {
				padding: 30px 30px 30px 30px;
			}
		}

		&__input[type=email] {
			display: inline-block;
			width: 90%;
			padding: 12px;
			color: #000;
			border: 1px solid rgba(72, 72, 72, 0.3);
			background-color: #fff;

			@mixin mediumScreen {
				width: 75%;
			}
		}
	}
}